body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f0f0; */
    background-color: rgb(85, 74, 62);
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

video {
    display: None;
    width: 100%;
    max-width: 400px;
    border: 2px solid #ccc;
    border-radius: 10px;
    /* transform: scaleX(-1); Mirror the video horizontally */
}

canvas {
    width: 100%;
    max-width: 400px;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: none;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

#gallery img {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
